---
layout: default
sort_field: 'title'
sort_reverse: false
---

<h1>My blog</h1>

<ul class="post-list">
    <!-- 
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts 
    -->
    {% for post in paginator.posts %}
    <li>
        <p>
            <a class="post-link post_title" href="{{ post.url | relative_url }}">{{ post.title | capitalize
                }}</a>
            <span class="post-meta post_date">{{ post.date | date: " %-d %b %Y, %r" }}</span>
        </p>
    </li>
    {% endfor %}
</ul>

<!-- 
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a class="post_title" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
            Recientes</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a class="post_title" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Antiguo
            &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}